:root {
	--hover-color: #587b7f;
}

$bp-desktop: 90.62em; //1450px
$bp-large: 78.125em; // 1250px
$bp-ipad-pro: 64em; //1024px

$bp-mobile: 48em; // 767

* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
	@media only screen and (max-width: $bp-large) {
		font-size: 50%;
	}
}

body {
	font-family: "Open Sans", sans-serif;

	min-height: 100vh;
}
